<div class="row text-center">
  <aside class="col-lg-12">
    <section>
      <h1><%= @user.email %>'s profile</h1>
      <p><%= link_to "Back home", root_path, class: 'btn btn-info'%></p>      
    </section>
  </aside>
</div>